<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sender.team.sender">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.sender.team.sender.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sender.team.sender.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarTransparent" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".SendActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".DelivererActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".MyPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"
            />
        <activity android:name=".NoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".ChattingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ChattingProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar" />
        <activity android:name=".FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".QuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity android:name=".ReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar.StatusBarColor"/>
        <activity
            android:name=".AcceptActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false"></service>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sender.team.sender" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false"></service>

    </application>

</manifest>